h1{
    color: black;
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    background-color:rgba(0, 47, 255, 0.459);
  }
  p{
    text-align: center;
    font-size: 40px;
    color:white;
     background-image: url("https://bit.ly/2vryyVf "); 
  }
  
  body{
    background-image: url("https://bit.ly/2Rzn6j0");
   background-repeat:no-repeat;
    font-family: sans-serif;
    font-weight: bold;
   color:white;
   background-size: cover;
   height: 100vh;
  }
  table{
    padding: 50px;
    text-align: center;
    overflow: auto;
    border-spacing: 20px;
  }
  th{
    font-size: 40px;
    color: yellow;
    font-weight: bolder;
   font-size: 80px;
    height: 75px;
  }
  #one{
  background-image: url("https://bit.ly/2RWP1Zg");
  background-attachment: fixed;
  font-size: 20px;
  height: 400px;
  width: 900px;
  }
  #two{
  background-image: url("https://bit.ly/2RzbjBm");
  background-attachment: fixed;
  font-size: 20px;
  height: 400px;
  width: 900px;
  }
  #three{
  background-image: url("https://bit.ly/2RApZzZ");
  background-attachment: fixed;
  font-size: 20px;
  height: 400px;
  width: 900px;
  }
  
  
  footer{
    text-align: center;
  }
  footer{
    text-align: center;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: left;
    text-decoration: none;
  }
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 30%;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 30%;
  }
  
  /* YouTube*/
  .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 30%;
  }
  /*Instagram*/
  
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 30%;
  }
  