h1{
    font-size: 50px;
    color: yellow;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
}
body{
    font-family: sans-serif;
    font-size: 20px;
    background-image: url("https://bit.ly/2RBQ7KY");
    font: weight 5;
    margin: 50px;
}
#one{
    text-align:left;
    font-size: 20px;
    color:black;
    float: left;
    margin-bottom: 50px;

}
#two{
    text-align:left;
    font-size: 20px;
    color:black;
    margin-top: 50px;

}
p{
    float: right;
    text-align: left;
}
footer{
    text-align: center;
  }
  footer{
    text-align: center;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: left;
    text-decoration: none;
  }
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 30%;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 30%;
  }
  
  /* YouTube*/
  .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 30%;
  }
  /*Instagram*/
  
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 30%;
  }
  