body{
  font-family:cursive;
  /* background-image: url(https://bit.ly/2uDvPYD); */
  background-size: cover;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding:2px;
  box-sizing: border-box;
  outline: darkblue;
  overflow-x: unset;
  border-color: midnightblue;

  
 
  
  
}
/*neon light button*/
h1{
    font-size: 100px;
    margin: 0;
    padding: 20px;
    color: rgb(110, 0, 0);
    text-align: center;
   

}
h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
    animation-delay: 0.25s;
}h1 span:nth-child(3){
    animation-delay: 0.5s;
}h1 span:nth-child(4){
    animation-delay: 0.75s;
}h1 span:nth-child(5){
    animation-delay:1.0s;
}h1 span:nth-child(6){
    animation-delay: 1.25s;
}h1 span:nth-child(7){
    animation-delay: 1.5s;
}h1 span:nth-child(8){
    animation-delay: 1.75s;
}h1 span:nth-child(9){
    animation-delay: 2.0s;
}h1 span:nth-child(10){
    animation-delay: 2.25s;
}
h1 span{
     display: table-cell;
     margin: 0;
     padding: 0;
     animation: animate 2s linear infinite;

}
@keyframes animate{
    0%,100%{
          color: #fff;
          filter: blur(2px);
          text-shadow: 0 0 10px #00b3ff,
                      0 0 20px #00b3ff,
                      0 0 40px #00b3ff,
                      0 0 80px #00b3ff,
                      0 0 120px #00b3ff,
                      0 0 200px #00b3ff,
                      0 0 300px #00b3ff,
                      0 0 400px #00b3ff;
    }
    5%,95%{
        color: #111;
        filter: blur(0px);
        text-shadow: 0 0 10px none;
  }
}
.navbar {
  overflow: hidden;
  background-color:darkgray;
}

.navbar a {
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  
}
#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width:500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left:-400%;
    }
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropbtn{
    color: black;
}

.dropdown .dropbtn {
  font-size: 25px;  
  border: none;
  outline: none;
  color:white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn:hover{
  color: #255784;
  background: #2186f3;
  box-shadow: 0 0 10px #2186f3, 0 0 10px #2186f3, 0 0 10px #2186f3,0 0 10px #2186f3;
  transition: 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:blue;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
footer{
    text-align: center;
  }
  footer{
    text-align: center;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: left;
    text-decoration: none;
  }
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 30%;
            

}
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 30%;
  }
  /* YouTube*/
  .fa-youtube {
    background: #BB0000;
    color: white;
    border-radius: 30%;
  }
  /*Instagram*/
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 30%;
  }
/*css snake Border*/
a {
    position:relative;
    display : inline-block;
    padding: 20px 35px;
    color: #2196f3;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#f34121);
}
a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#f34121);
}
a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
a span:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#f34121);
}
a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4){
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#f34121);
}
a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.join{
    /* text-align: center; */
    /* text-decoration-color: blanchedalmond; */
    color:blue;
    font-size: 20px;
}
ul{
    list-style-image: url('sqpurple.gif');  
}
div{
  padding-top: 0;
  padding-right: 0;
  padding-bottom:0;
  padding-left: 0;
}

@media only screen and (min-width:500px){
    }
   .navbar,.slider,.home, .header{
        width: 100%;
       
        
    }
    figure{
        height:5px ;
        padding: 0;
    }
    .navbar{
        padding: 0;
        margin: 0;
    }
  

@media only screen and (min-width:800px){
    .header{
        width: 80%;
        padding: 0;
    }

}

/* About us */
h1{
    color: black;
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    background-color:rgba(0, 47, 255, 0.459);
  }
  p{
    text-align: center;
    font-size: 40px;
    color:white;
     background-image: url("https://bit.ly/2vryyVf "); 
  }
  
  body{
    background-image: url("https://bit.ly/2Rzn6j0");
    background-repeat:no-repeat;
    font-family: sans-serif;
    font-weight: bold;
   color:white;
  }
  table{
    padding: 50px;
    text-align: center;
    overflow: auto;
    border-spacing: 20px;
  }
  th{
    font-size: 40px;
    color: yellow;
    font-weight: bolder;
   font-size: 80px;
    height: 75px;
  }
  #one{
  background-image: url("https://bit.ly/2RWP1Zg");
  background-attachment: fixed;
  font-size: 20px;
  height: 400px;
  width: 900px;
  }
  #two{
  background-image: url("https://bit.ly/2RzbjBm");
  background-attachment: fixed;
  font-size: 20px;
  height: 400px;
  width: 900px;
  }
  #three{
  background-image: url("https://bit.ly/2RApZzZ");
  background-attachment: fixed;
  font-size: 20px;
  height: 400px;
  width: 900px;
  }
  
  
  footer{
    text-align: center;
  }
  footer{
    text-align: center;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: left;
    text-decoration: none;
  }
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 30%;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 30%;
  }
  
  /* YouTube*/
  .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 30%;
  }
  /*Instagram*/
  
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 30%;
  }
  